<h3>Calendar</h3>
<% for date in @dates %>
<% @exclasses = Exclass.find_by_date(date) %>
<div>
  <h5><%= date %></h5>
  <%for exclass in @exclasses %>
  Time:<%= exclass.time %> Type: <%=exclass.type %>
<%end %>
</div>
<%end %>
