.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  background-color: #5A87E0;
  color: black;
  cursor:pointer;
  font-size: 20px;
  font-family: 'Gruppo', cursive;
}


.btn--action:hover {
  background-color: #495C27;
}

.btn--action {
  background-color: darkolivegreen;
}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}
